@import './roboto.css';
.conteiner {
    padding-top: 2rem;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: "Roboto";
}

.logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url('../assets/webpack-logo.png');
    background-size: contain;
}