.conteiner {
    padding-top: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid red;
}

h1 {
    text-align: center;
}

.logo {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin: 0 auto;
    background-image: url('../assets/webpack-logo.png');
    background-size: cover;
}